:root {
  --navbarlinks: cornflowerblue;
  --navbarlinkshover: grey;
  --navbgcolor: rgba(255,0,0,0.8);

  --resumebtnbg: orange;
  --resumebtnhover: grey;
  --resumebtncolor: grey;
  --resumebtnhovercolor: orange;

  --tabinactive: grey;
  --tabactive: pink;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial;
  margin: 0;
}

.title1{
    font-size: 3.5rem;
    margin: 0 10px;
}
.title2{
    font-size: 2rem;
    margin: 0;
}
.title3{
    font-size: 1.5rem;
    margin: 90px 0 0 0;
}
.title4{
    font-size: 1rem; 
}

.nav-bar-style{
    background-color: var(--navbgcolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
}
#nav-menu{
  padding: 10px 20px;
  margin: 0 20px;
}
#nav-links{
  display: none;
}

#nav-title{
    text-align: left;
    margin: 0 0 0 10%;
}

.sticky {
	position:fixed;
	top: 0;
}

#left-side-links {
    display: none;
}
  
#right-side-links {
    display: none;
}

main{
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    width: 100%;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#bio-img {
  width: 150px;
  border-radius: 10px;
}
.container{
  height: 40px;
}
.container .job-tabs .tab.active ~ .highlighter{
  display: none;
}
.job-tabs>a {
    display: inline;
    border-left: none;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid var(--tabinactive);
}
 a.tab.active{
    border-bottom: 3px solid var(--tabactive)
}

.work-edu-hide{
    visibility: hidden;
}
.work-edu-content{
   min-height: 400px;
}
ul{
  padding-inline-start: 20px;
}
ul li{
  padding-left: 0;
  list-style-type: circle;
}

#edu{
  margin: 5% 0;
}
#edu>p {
  margin: 0 0 0 5%;
}

.content{
    display: inline-block;
    position: absolute;
    width: 320px;
}

#good-food{
  width:200px;
}
.center-align{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer{
  font-size: 0.9rem;
}

@media only screen and (max-width: 480px){
}
@media only screen and (max-width: 600px){
}
@media only screen and (max-width: 768px){
}
@media only screen and (max-width: 1080px){
    body {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-areas:
          "top top top"
          "left main right"
          "bottom bottom bottom";
        font-family: Arial;
      }
      #nav-bar {
        position: fixed;
        top: 0px;
        right: 20px;
        grid-area: top;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100px;
      }
      
      #nav-links > a {
        padding: 0 30px;
        text-decoration: none;
        color: var(--navbarlinks);
        font-size: 1.1rem;
      }
      #nav-bar > a:hover {
        color: var(--navbarlinkshover);
        cursor: cell;
      }
      .job-tabs {
        display: block;
        position: relative;
        z-index: 3;
        width: max-content;
      }
      .container {
        position: relative;
        display: flex;
        align-items: flex-start;
      }
      .tab {
        display: block;
        width: 100px;
        height: 40px;
        text-align: left;
        font-weight: bold;
        font-size: 14px;
        padding: 20px 20px 0px 10px;
        border-left: 3px solid var(--tabinactive);
        transition: all 0.25s ease;
      }
      
      .tab:hover {
        color: var(--tabactive);
        cursor: pointer;
      }
      
      .container .job-tabs .tab.tab-1.active ~ .highlighter {
        transform: translateY(0px);
      }
      .container .job-tabs .tab.tab-2.active ~ .highlighter {
        transform: translateY(60px);
      }
      .container .job-tabs .tab.tab-3.active ~ .highlighter {
        transform: translateY(120px);
      }
      .container .job-tabs .tab.tab-4.active ~ .highlighter {
        transform: translateY(180px);
      }
      
      .container .job-tabs .highlighter {
        display: block;
        background: var(--tabactive);
        width: 3px;
        height: 60px;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(0);
        transition: transform 0.2s ease;
        transition-delay: 0.1s;
        z-index: 10;
      }
      
    
}