:root {
  --alloverbgcolor: whitesmoke;
  --navbarlinks: black;
  --navbarlinkshover: grey;
  --navbarlinkshoverbg:red;
  --navbarlinksactive: black;
  --navbgcolor: whitesmoke;

  --scrollbar: black;
  --scrollbarhover: pink;

  --menubg: black;
  --menulinkbg: rgba(255,255,255,0.8);
  --menulinkcolor: black;

  --bio-container-img-bg: pink;

  --resumebtnbg: orange;
  --resumebtnhover: grey;
  --resumebtncolor: grey;
  --resumebtnhovercolor: orange;

  --jobcardbgcolor: pink;
  --jobcardbgcolorhover: rgb(250, 227, 231);

  --tabinactive: grey;
  --tabactive: pink;

  --projcontentbg: rgba(255,255,255,0.9);
  --projectcontentcolor: black;

  --emailbtnbg: white;
  --emailbtncolor:blue;
  --emailbtnbghover:blue;
  --emailbtncolorhover:white;
  --footerbgcolor: whitesmoke;
}
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--alloverbgcolor);
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:var(--scrollbar);
  border: 4px solid var(--alloverbgcolor)
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  background-color: var(--alloverbgcolor);
}
svg{
  height:60px; 
}
svg text {
  font-family: Lora;
  letter-spacing: 0px;
  stroke: black;
  font-size: 3rem;
  font-weight: 700;
  stroke-width: 2;
  animation: textAnimate 3s infinite alternate;
 }


.title2{
    font-size: 2rem;
    margin: 0;
    font-family: "Prata", serif;

}

.title3{
    font-size: 1.5rem;
    margin: 90px 0 0 0;
    font-weight: 400;
    font-family: "Prata", serif;
}

.title4{
    font-size: 1rem; 
    font-weight: 400;
    font-family: "Prata", serif;
}

h2{
  font-size: 1.3rem;
}

.nav-bar-style{
  position: absolute;
  left:0;
  top:0;
  background-color: var(--navbgcolor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
}

#nav-links{
  display: none;
}

.nav-links-normal{
  display: inline;
  padding: 5px 20px;
  text-decoration: none;
  color: var(--navbarlinks);
}

.nav-links-active{
  font-style: italic;
  font-weight: 400;
  color: var(--navbarlinksactive);

}

#nav-title{
    font-size: 2.5rem;
    text-align: center;
    width: 60px;
    margin: 0 0 0 3%;
    transition: 1s;
}

.logo-spin{
    animation: rotateV 2.5s  both;
}
@keyframes rotateV {
  100%{transform: rotate(270deg)}
}

#nav-title:hover{
  color:var(--navbarlinkshover);
  font-style:italic;
  transform: rotate(90deg);
  transition: 1s;
}

/* hidden links for smaller screens */
.menu-wrapper {
  margin: 0 5%;
  z-index: 10;
}
.circle-links{
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: flex-end;
  width: 36px;
  height: 6px;
  background-color: var(--menubg);
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  color: var(--menulinkcolor);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 10;
}

.menu:after, .menu:before {
  content: "";
  position: absolute;
  width: 36px;
  height: 6px;
  background-color: var(--menubg);
  transition: all 0.25s ease-in-out;
}

.menu:after {
  top: 12px;
}
.menu:before {
  top: -12px;

}
.menu.special{
  background-color: transparent;
}

.menu.special::after, .menu.special::before {
  transition: all 0.3s ease-in-out;
  width: 18px;
}

.menu.special::after{
  transform: translate(-10px, -7px) rotate(405deg);
}
.menu.special:before {
  transform: translate(-1px, 17px) rotate(-405deg);
}  
.menu ul.menu-links{
  margin: 0;
  padding: 36px 0 0 0;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.25s ease-in-out;
  position: absolute;
  width: 0;
  height: 0;
}
.menu ul{
  position: absolute;
  top: 13px;
  height: 100vh;
  background-color:var(--menulinkbg);
  right: -15px;
  pointer-events:none;
}
.menu ul.menu-links li>a{
  text-decoration: none;
  color: var(--menulinkcolor);

}
.menu ul.menu-links li {
  position: relative;
  top: -23px;
  right: 23px;
  width: 100%;
  padding: 10px 10px;
  list-style-type: none;
  font-size: 1.5rem;
  text-align: right;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
}

.sticky {
	position:fixed;
	top: 0;
  z-index: 10;
}

#left-side-links{
  display: none;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 60px;
  left: 3%;
  width: 57px; 
  /* width match nav title */
}
  
#right-side-links {
    display: none;
}

/* main is the giant container around all the content */
main{
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 250px;
}
.title {
  font-family: "Prata", serif;
  font-size: 3rem;
  z-index: 2;
  width: 250px;
  text-align: center;
  animation: none;
}
.section{
  animation: none;
}
.title-inner {
  display: inline-block;
  animation: none;
}
.section-inner {
  display: inline-block;
  animation: none;
}


#intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 0 20% 0;
  padding-top: 80px;
}

#bio-img {
  position: relative;
  top: -160px;
  width: 150px;
  z-index: 3;
  opacity: 0.7;
  border: 2px solid black;

}

#bio-img-bg{
  position: relative;
  left: 25px;
  top: 60px;
  width: 150px;
  height: 200px;
  background-color: var(--bio-container-img-bg);
  z-index: 1;

}

#right-about-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#work-edu{
  padding-top: 80px;
}

.container{
  display: flex;
  justify-content: center;
  width: 250px;
  height:75px;
}
/* side-navigation for work-education */
.work-edu-side-nav{
  display: flex;
  justify-content: center;
  width:300px;
  height: 50px
}
.job-tabs>a {
    display: inline;
    border-left: none;
    padding:10px;
    border-bottom: 3px solid var(--tabinactive);
}
.job-tabs>a:hover {
  cursor: pointer;
}

a.tab.active{
    color: var(--tabactive);
    border-bottom: 3px solid var(--tabactive)
}

.work-edu-hide{
    visibility: hidden;
    opacity: 0;
}
.work-edu-content{
  height: 400px;
  margin-top: 20px;
}
ul{
  padding-inline-start: 20px;
}
ul li{
  padding-left: 0;
  list-style-type: circle;
}
#edu{
  margin: 5% 0;
}
#edu>p {
  margin: 0 0 0 5%;
}
.content{
    display:block;
    position: absolute;
    width: 200px;
    transition: opacity 0.5s linear;
}

#projects{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-card{
  height: 200px;
  width: 250px;
  margin: 5%;
}

#good-food{
  background-image: url("https://media.giphy.com/media/GUnfYM1mNcfWVOLhOZ/giphy.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #5D9594;
 
}
#snake{
  background-image: url("https://media.giphy.com/media/EW49lIkXwWFIBruEZE/giphy.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #222931;
}
.proj-content{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  /* background-color: var(--projcontentbg);*/
  color: transparent;
  opacity: 0.5;
  transition: 1s ease;
}
.proj-content:hover{
  background-color: var(--projcontentbg);
  color: var(--projectcontentcolor);
  opacity: 1;
  transition: 1s ease;
  font-size: 1.2rem;
  cursor: pointer;
}
.image-border{
  border-radius: 10px;
}
.center-align{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#projects{
  margin: 0 0 20% 0;
  padding-top: 80px;
}
#contact{
  margin: 0 0 10% 0;
  padding: 80px 0;
}

#email-btn{
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  font-size: 1rem;
  background-color: var(--emailbtnbg);
  color: var(--emailbtncolor);
  border: 2px solid var(--emailbtncolor);
  transition: 0.5s;
}

#email-btn:hover{
  cursor: pointer;
  background-color: var(--emailbtnbghover);
  color: var(--emailbtncolorhover);
  border: 2px solid var(--emailbtncolorhover);
  transition: 0.5s;
}

#contact-links{
  display: flex;
  justify-content: space-evenly;
  row-gap: 10%;
  width: 100%;
}

#contact-links div{
  transition: 0.5s;
}

#contact-links div:hover{
  transform: rotate(60deg);
  transition: 0.5s;
}

.link-format{
  height: 40px;
  width: 40px;
}
.github{
  background-image: url('/img/github.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.linkedin{
  background-image: url('/img/linkedin.png');
  background-size: contain;
  background-repeat: no-repeat;
}

footer>p{
  text-align: center;
  font-size: 1rem;
}
footer{
  display: block;
  margin: 5% 0;

  background-color: var(--footerbgcolor);
}

@media only screen and (min-width: 350px){
  main{
    width: 300px;
  }
  .content{
    width: 300px;
  }
  .container{
    width: 300px;
  }
  h2{
    font-size: 1.5rem;
  }
  svg{
    height:70px; 
  }
  svg text {
    letter-spacing: 0.5px;
    font-size: 3.5rem; 
   }
}
@media only screen and (min-width: 480px){
  main{
    width: 400px;
  }
  .content{
    width: 370px;
  }
  h2{
    font-size: 1.7rem;
  }
  .container{
    width: 400px;
  }
  svg{
    height:90px; 
  }
  svg text {
    letter-spacing: 1px;
    font-size: 4.7rem;    
   }
}

@media only screen and (min-width: 600px){
  main{
    width: 500px;
  }
  .content{
    width: 500px;
  }
  .container{
    width: 500px;
  }
  .project-card{
    height: 200px;
    width: 250px;
  }
  svg{
    height:100px; 
  }
  svg text {
    letter-spacing: 5px;
    font-size: 5.2rem;    
   }
}
@media only screen and (min-width: 768px){
  main{
    width: 650px;
  }
  .content{
    width: 650px;
  }
  .container{
    width: 750px;
  }
  .project-card{
    height: 300px;
    width: 350px;
  }
  svg{
    height:130px; 
  }
  svg text {
    letter-spacing: 5px;
    font-size: 7rem;    
   }
   
}
/* --------essentially converting this into a single page--------------- */
@media only screen and (min-width: 900px){
  /* *{
    overflow: hidden;
  }; */
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  main{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
  }

  .nav-bar-style{
    height: 90px;
  }

  #nav-title{
    cursor: pointer;
  }
  
  #nav-links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    margin: 0 3%;
  }

  #nav-links>a:nth-child(2){
    position: absolute;
    right: 650px;
    transform: scale(0.5);
    animation: scale 0.5s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }
  #nav-links>a:nth-child(3){
    position: absolute;
    right: 450px;
    transform: scale(0.5);
    animation: scale 1s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }
  #nav-links>a:nth-child(4){
    position: absolute;
    right: 250px;
    transform: scale(0.5);
    animation: scale 1.5s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }
  #nav-links>a:nth-child(5){
    position: absolute;
    right: 50px;
    transform: scale(0.5);
    animation: scale 2s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }

  #nav-links>a:hover{
    color: var(--navbarlinkshover);
    font-style: italic;
  }

  .menu-wrapper{
    display: none;
  }
  #left-side-links {
    display: block;
  }
  #right-side-links {
      display: block;
  }
  /* ----- content ------- */
  svg{
    height:140px; 
  }
  svg text {
    letter-spacing: 6px;
    font-size: 7.6rem;   
    height:100px; 
  }
  .title{
    height: 110px;
  }
  .title2{
      font-size: 3rem;
      margin: 0;
  }

  .title3{
      font-size: 2rem;
      margin: 90px 0 0 0;
  }

  .title4{
      font-size: 2rem; 
  }
  h2{
    font-size: 2rem;
  }

  #about{
    /* display: none; */
    padding: 10% 0;
    font-size: 1.1rem;
    height: 100vh;
    margin: 0;
  }
  #bio-img {
    position: relative;
    top: -250px;
    width: 200px;
    z-index: 3;
    opacity: 0.7;
    border: 2px solid black;
    animation: shootUpBioImg 1s linear;
  }
  @keyframes shootUpBioImg {
    from { top: 0;}
    to { top: -250px;}
  }
  #bio-img-bg{
    position: relative;
    left: 30px;
    top: 35px;
    width: 200px;
    height: 260px;
    background-color: var(--bio-container-img-bg);
    z-index: 1;
    animation: shootUpBioImgBg 1s linear;
  }
  @keyframes shootUpBioImgBg {
    from { top: -500px;}
    to { top: 35px;}
  }

  .about-content{
    display:flex;
    flex-direction: row;
    flex: wrap;
  }
  #left-about-container{
    width: 60%;
    padding: 2%;
  }
  #right-about-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 40%;
  }
  #work-edu{
    /* display: none; */
    padding: 10% 0;

  }
 
  .container{
    display:none;
  }
  .work-edu-hide{
    visibility: visible;
    opacity: 1;
  }
  #one{
    animation: upstuff 3s;
  }
  #two{
    animation: upstuff 3.5s;
  }
  #three{
    animation: upstuff 4s;
  }
  #edu{
    animation: upstuff 4.5s;
  }
  .content{
    display:block;
    position: relative;
    width: 200px;
    height: 200px;
    background-color: var(--jobcardbgcolor);
    padding: 15px;
    border-radius: 20px;
    transition: 0.3s;
  }
  .content:hover{
    background-color: var(--jobcardbgcolorhover);
    cursor:cell;
    transition: 0.3s;
  }

  .work-edu-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:10px;
    height: 90%;

  }
  #edu{
    margin: 0;
  }
  #projects{
    /* display: none; */
    padding: 10% 0;

  }
  .project-card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .project-card{
    height: 350px;
    width: 400px;
    margin: 0px;
  }

  #good-food{
    position: relative;
    bottom:0px;
    animation: upstuff 2s;
  }

  #snake{
    position: relative;
    bottom:0px;
    animation: upstuff 3s ;
  }
  
  #contact{
    /* display: none; */
    padding: 10% 0;
    font-size: 1.25rem;
  }
  #contact-content{
    position: relative;
    animation: upstuff 1s;
  }
  #contact>button{
    display: block;
    margin: 0 auto;
  }
  footer{
    padding-bottom: 1%;
    /* position: absolute; */
    bottom:0;
    width: 100%;
    margin: 0;
  }
  #contact-links{
    display: none;
  }
  #left-side-links{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 3%;
    height: 100vh;
    width: 57px; 
    /* width match nav title */
  }

  #left-side-links>div:nth-child(1){
    height: 90px;
    width: 57px;
  }

  .left-side-links{
    margin: 30px 0;
    height: 40px;
    width: 40px;
  }

  #left-side-links>div:nth-child(2)>div:hover{
    transform: rotate(360deg);
    transition: 1s;
  }
  #left-side-links>div:nth-child(3)>div:hover{
    transform: rotate(360deg);
    transition: 1s;
  }

  #left-side-links>div:nth-child(4){

    position: fixed;
    bottom: 0;
    height: 65%;
    border: 1px solid black;
    margin:0;
    padding:0;
    animation: shootUp 0.8s;
    z-index: 3;
  }

  /* adding animation */

  .fade-in{
    opacity:1;
    animation: 1s fadeIn ;
  }
  .title {
    font-family: "Prata", serif;
    padding-left: 2%;
    font-size: 5rem;
    text-align: left;
    z-index: 2;
    width: 700px;
    animation: outer-left 0.7s 0.7s ease both;
  }
  .section{
    animation: outer-left 0.7s 0.7s cubic-bezier(0.5, 0, 0.1, 1) both;
  }
  .title-inner {
    display: inline block;
    padding: 0 12% 0 0%;
    animation: inner-left 0.7s 0.7s ease both;
  }
  .section-inner {
    display: inline-block;
    animation: inner-left 0.7s 0.7s ease both, text-clip 0.5s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
  }
  @keyframes text-clip {
    from {
      clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
   }
    to {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
   }
  }
  @keyframes outer-left {
    from {
      transform: translateX(20%);
   }
    to {
      transform: none;
   }
  }
  @keyframes inner-left {
    from {
      transform: translateX(0%);
   }
    to {
      transform: none;
   }
  }
 
  
}

@media only screen and (min-width: 1000px){
  main{
    max-width: 1500px;
  }

  .title-inner {
    padding: 0 15% 0 0%;

  }

  #bio-img {
    position: relative;
    top: -340px;
    width: 250px;
    z-index: 3;
    opacity: 0.7;
    border: 2px solid black;
    animation: shootUpBioImg 1s linear;
  }
  @keyframes shootUpBioImg {
    from { top: 0;}
    to { top: -340px;}
  }
  #bio-img-bg{
    position: relative;
    left: 30px;
    top: 35px;
    width: 260px;
    height: 350px;
    background-color: var(--bio-container-img-bg);
    z-index: 1;
    animation: shootUpBioImgBg 1s linear;
  }
  @keyframes shootUpBioImgBg {
    from { top: -500px;}
    to { top: 35px;}
  }
  @keyframes text-clip {
    from {
      clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
   }
    to {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
   }
  }
  @keyframes outer-left {
    from {
      transform: translateX(24%);
   }
    to {
      transform: none;
   }
  }
  @keyframes inner-left {
    from {
      transform: translateX(0%);
   }
    to {
      transform: none;
   }
  }
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

@keyframes shootUp {
  from { bottom: -900px; }
  to { bottom: 0px; }
}
@keyframes upstuff {
  from { bottom: -1000px;}
  to { bottom: 0px;}
}

@keyframes fadeInScale {
  0% { opacity: 0; }
  100% { 
    opacity: 1;
    transform: scale(1);
  }
}


@keyframes textAnimate {
 0% {
   stroke-dasharray: 0 50%;
   stroke-dashoffset:  20%;
   fill:hsl(168, 35%, 36%)
 }
 
 100% {
   stroke-dasharray: 50% 0;
   stroke-dashoffstet: -20%;
   fill: hsla(100, 60%, 0%,70%);
 }
 
}
