:root {
  --navbarlinks: cornflowerblue;
  --navbarlinkshover: grey;
  --navbgcolor: rgba(255,0,0,0.5);

  --menubg: blue;
  --menulinkcolor: pink;

  --resumebtnbg: orange;
  --resumebtnhover: grey;
  --resumebtncolor: grey;
  --resumebtnhovercolor: orange;

  --tabinactive: grey;
  --tabactive: pink;

  --projcontentbg: rgba(255,255,255,0.5);
  --projectcontentcolor: white;

  --emailbtnbg: white;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial;
  margin: 0;
}

.title1{
    font-size: 3.5rem;
    margin: 0 10px;
}
.title2{
    font-size: 2rem;
    margin: 0;
}
.title3{
    font-size: 1.5rem;
    margin: 90px 0 0 0;
}
.title4{
    font-size: 1rem; 
}

.nav-bar-style{
    background-color: var(--navbgcolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
}

#nav-links{
  display: none;
}

#nav-title{
    text-align: left;
    margin: 0 0 0 10%;
}
.menu-wrapper {
  margin: 0 10%;
  z-index: 10;

}

.menu {
  display: flex;
  justify-content: flex-end;
  width: 36px;
  height: 6px;
  background-color: var(--menubg);
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  color: var(--menulinkcolor);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 10;
}

.menu:after, .menu:before {
  content: "";
  position: absolute;
  width: 36px;
  height: 6px;
  background-color: var(--menubg);
  transition: all 0.25s ease-in-out;

}
.menu:after {
  top: 12px;
}
.menu:before {
  top: -12px;

}
.menu.special{
  background-color: transparent;
}

.menu.special::after, .menu.special::before {
  transition: all 0.3s ease-in-out;
  width: 18px;
}

.menu.special::after{
  transform: translate(-10px, -7px) rotate(405deg);
}
.menu.special:before {
  transform: translate(-1px, 17px) rotate(-405deg);
}  
.menu ul.menu-links{
  margin: 0;
  padding: 36px 0 0 0;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.25s ease-in-out;
  position: absolute;
  width: 0;
  height: 0;

}
.menu ul{
  position: absolute;
  top: 13px;
  height: 100vh;
  background-color:var(--menubg);
  right: -15px;
  pointer-events:none;
}
.menu ul.menu-links li>a{
  text-decoration: none;
  color: var(--menulinkcolor);

}
.menu ul.menu-links li {
  position: relative;
  top: -23px;
  right: 23px;
  width: 100%;
  padding: 10px 10px;
  list-style-type: none;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  text-align: right;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;


/*    border-right: 2px solid #7482a5; */
}
.sticky {
	position:fixed;
	top: 0;
  z-index: 10;
}

#left-side-links {
    display: none;
}
  
#right-side-links {
    display: none;
}
#intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 250px;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 0 20% 0;
  padding-top: 80px;
}

#bio-img {
  width: 150px;
}
#work-edu{
  padding-top: 80px;
}

.container .job-tabs .tab.active ~ .highlighter{
  display: none;
}

.job-tabs>a {
    display: inline;
    border-left: none;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 3px solid var(--tabinactive);
}
 a.tab.active{
    color: var(--tabactive);
    border-bottom: 3px solid var(--tabactive)
}

.work-edu-hide{
    visibility: hidden;
    opacity: 0;
}
.work-edu-content{
  height: 400px;
  margin-top: 20px;
}
ul{
  padding-inline-start: 20px;
}
ul li{
  padding-left: 0;
  list-style-type: circle;
}

#edu{
  margin: 5% 0;
}
#edu>p {
  margin: 0 0 0 5%;
}

.content{
    display:block;
    position: absolute;
    width: 200px;
    transition: opacity 0.5s linear;
}
#projects{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#good-food{
  background-image: url("/img/goodfood-main.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #5D9594;
  height: 200px;
  width: 250px;
}
#snake{
  background-image: url("/img/snake-game.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #222931;
  height: 200px;
  width: 250px;
}
.proj-content{
  position: relative;
  top: 0px;
  left: 0px;
  width: 230px;
  height: 180px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--projcontentbg);
  color: var(--projectcontentcolor)
}
.image-border{
  border-radius: 10px;
}
.center-align{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}
#projects{
  margin: 0 0 20% 0;
  padding-top: 80px;
}

#contact{
  margin: 0 0 10% 0;
  padding: 80px 0;
}

#email-btn{
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  font-size: 50px;
  background-color: var(--emailbtnbg);
}
#contact-links{
  display: flex;
  justify-content: space-evenly;
  row-gap: 10%;
  width: 100%;
}
.link-format{
  height: 50px;
  width: 50px;
}
#github{
  background-image: url('/img/github.png');
  background-size: contain;
  background-repeat: no-repeat;
}
#linkedin{
  background-image: url('/img/linkedin.png');
  background-size: contain;
  background-repeat: no-repeat;
}

footer>p{
  font-size: 0.9rem;
  margin: 15% 0 0 0;
}
footer{
  margin: 0 0 5% 0;
}

@media only screen and (min-width: 350px){
  main{
    width: 300px;

  }
  .content{
    width: 300px;
  }

}

@media only screen and (min-width: 480px){
  main{
    width: 400px;

  }
  .content{
    width: 370px;
  }

}
@media only screen and (min-width: 600px){
  main{
    width: 500px;
  }
  .content{
    width: 500px;
  }
}
@media only screen and (min-width: 768px){
  main{
    width: 650px;
  }
  .content{
    width: 650px;
  }
}
/* @media only screen and (max-width: 1080px){
    body {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-areas:
          "top top top"
          "left main right"
          "bottom bottom bottom";
        font-family: Arial;
      }
      main{
        width: 1000px;
      }
      .content{
        width: 1000px;
      }
      #nav-bar {
        position: fixed;
        top: 0px;
        right: 20px;
        grid-area: top;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100px;
      }
      
      #nav-links > a {
        padding: 0 30px;
        text-decoration: none;
        color: var(--navbarlinks);
        font-size: 1.1rem;
      }
      #nav-bar > a:hover {
        color: var(--navbarlinkshover);
        cursor: cell;
      }
      .job-tabs {
        display: block;
        position: relative;
        z-index: 3;
        width: max-content;
      }
      .container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15% 0 10% 0;;
      }
      .tab {
        display: block;
        width: 100px;
        height: 40px;
        text-align: left;
        font-weight: bold;
        font-size: 14px;
        padding: 20px 20px 0px 10px;
        border-left: 3px solid var(--tabinactive);
        transition: all 0.25s ease;
      }
      
      .tab:hover {
        color: var(--tabactive);
        cursor: pointer;
      }
      
      .container .job-tabs .tab.tab-1.active ~ .highlighter {
        transform: translateY(0px);
      }
      .container .job-tabs .tab.tab-2.active ~ .highlighter {
        transform: translateY(60px);
      }
      .container .job-tabs .tab.tab-3.active ~ .highlighter {
        transform: translateY(120px);
      }
      .container .job-tabs .tab.tab-4.active ~ .highlighter {
        transform: translateY(180px);
      }
      
      .container .job-tabs .highlighter {
        display: block;
        background: var(--tabactive);
        width: 3px;
        height: 60px;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(0);
        transition: transform 0.2s ease;
        transition-delay: 0.1s;
        z-index: 10;
      }
      
    
} */